extends layout

block content
     form(method='POST', action='/new')
        label(for='messageUser') User: 
        input#messageUser(name='messageUser' placeholder='Username')
        label(for='messageText' style='margin-left: 5px;') Message: 
        input#messageText(name='messageText' placeholder='Text')
        input(type="submit" value="Submit" style='margin-left: 5px;')