extends layout

block content
    h1="Make a message"
     form(method='POST', action='/new')
        input(name='messageUser')
        input(name='messageText')
        input(type="submit" value="Submit")